@model BHHC.Views.Home.Models.IndexViewModel

@{
    Layout = "_Layout";
}

@section Scripts{ 
    <!-- Include our front end app, cache busted, of course! -->
    <script type="text/javascript" src="~/dist/app.js" asp-append-version="true"></script>
}

<h1>@Model.HomeViewProperty</h1>

<div ui-view="main">

</div>

