@model BHHC.Views.Home.Models.IndexViewModel

@{
    Layout = "_Layout";
}

@section Scripts {
    @* Include our front-end app, cache busted, of course! *@
    <script type="text/javascript" src="~/dist/clientApp.js" asp-append-version="true"></script>
}

<div ng-app="ClientApp">
    <h1>@Model.HomeViewProperty</h1>
    <div ui-view="main">
    </div>
</div>