@model BHHC.Views.Home.Models.IndexViewModel

@{
    Layout = "_Layout";
}

@section Scripts{ 
    <script>console.log("TODO(DJ): scripts will go here...");</script>
}

<h1>@Model.HomeViewProperty - 5</h1>

