@model BHHC.Views.Shared.Models.ILayoutViewModel;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.PageTitle</title>
</head>
<body ng-app="ClientApp">
    @RenderBody()
    @RenderSection("scripts")
</body>
</html>
